<footer class="w-100 py-4 flex-shrink-0">
  <div class="container py-4">
      <div class="row gy-4 gx-5">
          <div class="col-lg-8 col-md-6">
              <h5 class="h1 text-white">Indo Foreign Surgico</h5>
              <p class="small text-muted">HB road, Pan Bazar, Guwahati</p>
              <p class="small text-muted">08045132011</p>
              <p class="small text-muted"><a href="mailto:indoforeignsurgico@yahoo.com">indoforeignsurgico@yahoo.com</a></p>
              <p class="small text-muted mb-0">&copy; Copyrights. All rights reserved. <a class="text-primary" href="#">Developed by PDP Consultants</a></p>
          </div>
          <div class="col-lg-4 col-md-6">
              <h5 class="text-white mb-3">Quick links</h5>
              <ul class="list-unstyled text-muted">
                  <li><a [routerLink]="['/home']">Home</a></li>
                  <li><a [routerLink]="['/shop']">Shop</a></li>
                  <li><a [routerLink]="['/cart']">Cart</a></li>
              </ul>
          </div>
      </div>
  </div>
</footer>
