<!-- Navbar-->
<header class="header">
  <nav class="navbar navbar-expand-lg fixed-top py-3 header-main">
      <div class="container">
        <span (click)="openSideNav()" class="d-md-none d-lg-none"><mat-icon>menu</mat-icon></span>
        <a href="#" class="navbar-brand text-uppercase font-weight-bold">
        <img src="https://fplogoimages.withfloats.com/actual/5bd7e8c4ff7a3b00016117af.jpg" class="img-responsive"/>
      </a>
        <div class="row">
          <div id="navbarSupportedContent" class="collapse navbar-collapse">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item"><a [routerLink]="['/home']" routerLinkActive="link_active" class="nav-link  font-weight-bold"><mat-icon>home</mat-icon><div>Home</div></a></li>

                  <li class="nav-item"><a [routerLink]="['/shop']" routerLinkActive="link_active" class="nav-link  font-weight-bold"><mat-icon>store</mat-icon><div>Shop</div></a></li>

                  <li class="nav-item"><a [routerLink]="['/cart']" routerLinkActive="link_active" *ngIf="cartCount>0" class="nav-link  font-weight-bold"><mat-icon matBadge="{{cartCount}}" matBadgeColor="warn">shopping_cart</mat-icon><div>Cart</div></a>
                    <a [routerLink]="['/cart']" routerLinkActive="link_active" *ngIf="cartCount==0" class="nav-link  font-weight-bold"><mat-icon>shopping_cart</mat-icon><div>Cart</div></a>
                  </li>
              </ul>
          </div>
        </div>
      </div>
  </nav>
</header>

<div id="mySidenav" class="sidenav d-md-none d-lg-none">
  <a class="closebtn" (click)="closeSideNav()">&times;</a>
  <a [routerLink]="['/home']">Home</a>
  <a [routerLink]="['/shop']">Shop</a>
  <a [routerLink]="['/cart']">Cart</a>
</div>
