
.navbar {
    transition: all 0.4s;
}

.navbar .nav-link {
    color:#687685;
    text-align: center;
    padding-left: 30px;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #687685;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #687685;
    img{
      width: 35%;
    }
}


/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
    .navbar {
        background: #fff;
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: #555;
    }
}




.text-small {
    font-size: 0.9rem !important;
}

.header-main{
background-color:#FFFFFF ;
box-shadow: 0 1px 3px 0 #0000001a, 0 1px 2px 0 #0000000f;
}



.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  background-color: #ffff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  display: block;
  transition: 0.3s;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.link_active{
  color: #F93A00!important;
}
