<!-- Navbar-->
<header class="header">
  <nav class="navbar navbar-expand-lg fixed-top py-3 header-main">
      <div class="container"><a href="#" class="navbar-brand text-uppercase font-weight-bold">
        <img src="https://fplogoimages.withfloats.com/actual/5bd7e8c4ff7a3b00016117af.jpg" class="img-responsive"/>
      </a>
        <div class="row">
          <div id="navbarSupportedContent" class="collapse navbar-collapse">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item"><a [routerLink]="['/home']" class="nav-link  font-weight-bold"><mat-icon>home</mat-icon><div>Home</div></a></li>
                  <li class="nav-item"><a href="#" class="nav-link  font-weight-bold"><mat-icon>business</mat-icon><div>About</div></a></li>
                  <li class="nav-item"><a [routerLink]="['/shop']" class="nav-link  font-weight-bold"><mat-icon>shop</mat-icon><div>Shop</div></a></li>
                  <li class="nav-item"><a href="#" class="nav-link  font-weight-bold"><mat-icon>contacts</mat-icon><div>Contact</div></a></li>
                  <li class="nav-item"><a [routerLink]="['/cart']" class="nav-link  font-weight-bold"><mat-icon>shopping_cart</mat-icon><div>Cart</div></a></li>
              </ul>
          </div>
        </div>
      </div>
  </nav>
</header>
