
.navbar {
    transition: all 0.4s;
}

.navbar .nav-link {
    color:#687685;
    text-align: center;
    padding-left: 30px;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #687685;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #687685;
    img{
      width: 35%;
    }
}


/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
    .navbar {
        background: #fff;
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: #555;
    }
}




.text-small {
    font-size: 0.9rem !important;
}

.header-main{
background-color:#FFFFFF ;
box-shadow: 0 1px 3px 0 #0000001a, 0 1px 2px 0 #0000000f;
}
