<div class="col-xs-12">
  <mat-card class="right-panel">
    <mat-card-header>
      Enter Your Details
    </mat-card-header>
    <mat-card-content>
      <div id="step1" *ngIf="isStep1">
      <div>
        <label class="infos_label">
          Name <span class="req">*</span>
        </label>
        <input type="text" class="infos_input" name="name" [(ngModel)]="userDetails.name"/>
      </div>
      <div>
        <label class="infos_label">
          Email ID <span class="req">*</span>
        </label>
        <input type="text" class="infos_input" name="email" [(ngModel)]="userDetails.email"/>
      </div>
      <div>
        <label class="infos_label">
          Contact Number <span class="req">*</span>
        </label>
        <input type="text" class="infos_input" name="number" [(ngModel)]="userDetails.number"/>
      </div>
      <div class="right_panel_btn">
        <button class="btn btn-primary cart_btn" (click)="submitUserDetails()" [disabled]="!userDetails.name?.trim().length || !userDetails.email?.trim().length || !userDetails.number?.trim().length">Submit</button>
      </div>
    </div>

    <div id="step1" *ngIf="isStep2">
      <div>
        <label class="infos_label">
          Contact Number <span class="req">*</span>
        </label>
        <input type="text" class="infos_input" [(ngModel)]="userDetails.number" style="background:#F1F1EC;" readonly/>
      </div>
      <div>
        <label class="infos_label">
          Enter OTP <span class="req">*</span>
        </label>
        <input type="text" class="infos_input" [(ngModel)]="userDetails.otp"/>
      </div>
      <div class="right_panel_btn">
        <button class="btn btn-primary cart_btn" (click)="placeQuote()" [disabled]="!userDetails.otp?.trim().length">Verify & Place Quote</button>
      </div>
    </div>
    </mat-card-content>
  </mat-card>
</div>
