<div class="text-center about-us">
  <div class="container">
  <h1>About Us</h1>
  <div class="head_border"></div>
  <p>INFOS is a leading dealer in the field of medical products for more than six decades. We plan, Supply and install - Modular Operation Theatre, Operation Theatre Equipment / Devices, Hospital and Ward Furniture, Surgical and Diagnostic Instruments, Endoscopic Equipment / Instruments, Sterilizing equipment and solutions , kitchen / laundry / housekeeping cleaning solutions, Pathological laboratory, Suture / Dressing Materials, Medical Disposables, Surgeon gloves, Patient care products, Stethoscope, Stainless Steel hollow wares and all other products you need.</p>

  <p>Our knowledgeable and supportive staff is committed to respond to your requirements. We will be pleased to send you details on the range of products we deal in .</p>
</div>
</div>
