.merch_box {
  box-shadow: 0 3px 20px 0 #0000001a;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
}

.merch_logo{
  padding: 10px;
  border: 1px dashed #d9dde7;
  img{
    width: 100%;
  }
}

.border_new{
  margin-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #eef0f4;
  }

  .cartdecrease {
    float: left;
    border-radius: 4px 0 0 4px;
  }
  .value-button {
    display: inline-block;
    width: 30px;
    height: 25px;
    text-align: center;
    vertical-align: middle;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #5b3b97;
    background-color: #5b3b971a;
    border: 1px solid #5b3b97;
}


  .cartnumber {
    text-align: center;
    width: 40px;
    height: 25px;
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    -webkit-appearance: none;
    float: left;
    border: 1px solid #5b3b97;
  }
  .cartincrease {
    float: left;
    border-radius: 0 4px 4px 0;
  }

  .heading_one{
    font-size: 24px;
    font-weight: 400;
    margin-top: 30px;
}

