
<div class="container pad-top-20">
  <div class="col-xs-12 col-md-12 col-lg-12 col-sm-12">
    <div class="row">
      <div class="col-md-8">
        <div class="col-lg-12 online_box merch_box" *ngFor="let cart of cartItems">
          <div class="row">
            <div class="col-lg-4">
              <div class="merch_logo">
                <img class="img-responsive" src="{{cart.image}}"/>
              </div>
            </div>
            <div class="col-lg-4" style="padding: 30px;">
              <div>{{cart.name}}</div>
              <div>QTY: {{cart.quantity}}</div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="border_new"></div>
          <div class="row">
            <div class="col-lg-6">
              <div class="pull-left">
                <form>
                  <div>
                    <div class="value-button cartdecrease" id="decrease0" value="Decrease Value" style="border-right: 0;" role="button" (click)="changeQuantity(cart,1)">-</div>
                    <input type="number" class="cartnumber" id="number0" [value]='cart.quantity' readonly/>
                    <div class="value-button cartincrease" id="increase0" value="Increase Value" style="border-left: 0;" role="button" (click)="changeQuantity(cart,2)">+</div>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="pull-right weight_active_cursor" (click)="removeFromCart(cart)">Remove</div>
            </div>
          </div>
        </div>
      </div>


      <div class="col-md-4">
        <infos-cart-right-panel></infos-cart-right-panel>
      </div>
    </div>
  </div>
</div>
